  .btn-secondary:not(:disabled):not(.disabled).active{
    background-color: #FE7007 !important;
  }

  btn-secondary {
      
  	background-color: red;
  }

  .label-c {
      color:   #004681;
      font-size: 15px;
      line-height: 12px;
      padding-top: 4px !important;
      padding-bottom: 4px !important;
  }
  .require {
      color: #c00;
  }

  .seccion{
    font-size: 22px;
    background:#01427D;
    color:white;
    margin-bottom: 10px;
  }
  .boton: {
    background-color:#FE7007 !important;
  }

#tablaCuerpo {
    text-align: center;
}

tr#titulos {
    color: #FE7007;
    text-align: center;
}

#loader{
    position: absolute;
    z-index: 100000;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

tr#primasTotales {
    background-color: #ff8c09e6;
    color: white;
}
