<div id="loader" style="display:none">
    <img src="/content/dam/gnpcalculator/loadMod.gif" alt="loading" height="90px" width="90px">
</div>
<div data-sly-include="modal.html"></div>
<div class="container" style="background-color: #80808036; max-width: 700px;">

    <form id="requestQuotation" class="text-center  " action="/bin/get/quotation" method="GET">

    <div class="seccion" >Datos del conductor Vehiculo</div>

    
    <div class="form-row mb-4">
          <div class="col">

             <div class="label-c ">Tipo de Vehículo<span class="require">*</span> </div>
             <select id="selectorTipo" class="selectorTipo" name="tipovehiculo" style="width: 100%">
             	<option value="AUT" selected>Automovil</option>
                <option value="MOT" >Motocicleta</option>
                <option value="CA1" >Pick Up</option>
             </select>

          </div>
          <div class="col">
              <div class="label-c "> Modelo<span class="require">*</span> </div>
              <select id="selectorModelo" class="selectorModelo clear" name="modelo" style="width: 100%">
				<option selected value="">Selecciona Opción</option>
              </select>
          </div>
    </div>


    <div class="form-row mb-4">
          <div class="col">
              <div class="label-c "> Marca<span class="require">*</span> </div>
              <select  id="selectorMarca" class="selectorMarca clear" name="clavemarca" style="width: 100%">
                  <option selected value="">Selecciona Opción</option>
              </select>
          </div>
          <div class="col">
            <div class="label-c "> Submarca<span class="require">*</span> </div>
            <select id="selectorSubMarca" class="selectorSubMarca clear" name="clavesubmarca" style="width: 100%">
                <option selected value="">Selecciona Opción</option>
            </select>
          </div>
    </div>


    <div class="form-row mb-4">
          <div class="col">
            <div class="label-c "> Descripción del vehículo<span class="require">*</span> </div>
            <select id="selectorDescripcion" class="selectorDescripcion clear" name="clavedescripcion" style="width: 100%">
                <option selected value="">Selecciona Opción</option>
            </select>
          </div>
          <div class="col">
          </div>
    </div>


    <div class="seccion" >Datos del conductor habitual</div>

    <div class="form-row mb-4">
          <div class="col">
            <div class="label-c "> Edad<span class="require">*</span> </div>
            <input type="" id="edad" name="edad" style="width: 100%">
          </div>
          <div class="col">
            <div class="label-c "> Genero<span class="require">*</span> </div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary active">
                <input type="radio" name="sexo"  autocomplete="off" class="tipoG" value="M" checked> Masculino
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="sexo"  autocomplete="off" class="tipoG" value="F"> Femenino
              </label>
            </div>
          </div>
    </div>

   <div class="form-row mb-4">
          <div class="col">
              <div class="label-c "> Codigo Postal<span class="require">*</span> </div>
              <input type="" id="codigoPostal" name="cp" style="width: 100%">
          </div>
          <div class="col">
            <div class="label-c "> Email<span class="require">*</span> </div>
             <input type="" id="email" name="mail" style="width: 100%">
          </div>
    </div>

      <div class="form-row mb-4">
          <div class="col">
              <div class="label-c ">Tipo de telefono<span class="require">*</span> </div>
              <select  id="selectorTipoTel" class="selectorTipoTel" name="tipotelefono" style="width: 100%">
                <option value="MOVIL" selected>Celular</option>
                <option value="FIJO" >Particular</option>
             </select>
          </div>
          <div class="col">
            <div class="label-c "> Telefono<span class="require">*</span> </div>
             <input type="" id="telefono" name="telefono" style="width: 100%">
          </div>
      </div>
      <div class="form-row mb-3">
          <div class="col">
          	 <input hidden name="marca" id="marca" value="">
             <input hidden name="submarca" id="submarca" value="">
             <input hidden name="descripcion" id="descripcion" value="">
          </div>
           <div class="col">
          </div>
          <div class="col">
              <button id="btnCoizar" class="btn btn-primary boton" style="background-color: #FE7007; float: right;" type="button">Cotizar</button>
          </div>
      </div>
    </form>
  </div>
