<hr>
<div class="container">
    <table id="tablaCoti" class="table" style="display:none;" >
      <thead class="thead-dark">
        <tr id="titulos">
            <td></td>
        </tr>
      </thead>
      <tbody id="tablaCuerpo">
            <tr id="primasTotales">
                <td>Prima Total</td>
            </tr>
            <tr id="0000001288">
                <td>Daños Materiales Pérdida Total</td>
            </tr>
            <tr id="0000001289">
                <td>Daños Materiales Pérdida Parcial</td>
            </tr>
            <tr id="0000000891">
                <td>Cristales</td>
            </tr>
            <tr id="0000000916">
                <td>Robo Total</td>
            </tr>
            <tr id="0000001273">
                <td>Responsabilidad Civil por Daños a Terceros</td>
            </tr>
            <tr id="0000001285">
                <td>Protección Legal</td>
            </tr>
            <tr id="0000000906">
                <td>Gastos Médicos Ocupantes</td>
            </tr>
            <tr id="0000000904">
                <td>Extensión Cobertura Resp. Civil</td>
            </tr>
            <tr id="0000001268">
                <td>Club GNP Autos</td>
            </tr>
        </tbody>
    </table>
</div>